<section class="posts">
<section class="card">
  <a href="/post/{{id}}">
    <header>{{title}}</header>
    Posted By:<a href="/user/{{user_id}}">{{user.username}}</a>
    <p>{{desc}}</p>
  </a>
  <div>
    {{#each comment as |comment|}}
    {{>comment_partial}}
    {{/each}}
  </div>

  {{#eq current_user user.id}}
    <button type="button" class="btn btn-primary" data-id="{{id}}" data-bs-toggle="modal" data-bs-post="{{id}}" data-bs-target="#editModal" id="edit_post">Edit</button>
    
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="editModalLabel">Edit Post</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="edit_post_title" class="col-form-label">Title:</label>
            <input type="text" value="{{title}}"class="form-control" id="edit_post_title">
          </div>
          <div class="mb-3">
            <label for="edit_post_desc" class="col-form-label">Content:</label>
            <textarea class="form-control" id="edit_post_desc">{{desc}}</textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" data-id="{{id}}" class="btn btn-primary confirm_button" id="confirm_button">Confirm edits</button>
      </div>
    </div>
  </div>
</div>

    {{/eq}}

    
</section>
<script src="/js/post.js"></script>
</section>
